<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2020. Volodymyr Hryvinskyi.  All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  ~ @github: <https://github.com/hryvinskyi>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hryvinskyi_asynchronous_sending>
            <general>
                <enabled>0</enabled>
                <sending_limit>50</sending_limit>
                <clear_success_after_days>30</clear_success_after_days>
                <clear_errors_after_days>60</clear_errors_after_days>
                <debug>0</debug>
            </general>
        </hryvinskyi_asynchronous_sending>
    </default>
</config>
